body {
    font-family: "Segoe UI", sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 30px;
    background: #B6C3F7;
    color: #fff;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    background: #3f2b96;
    padding: 10px 0;
}

nav a {
    color: #B6C3F7;
    text-decoration: none;
    margin: 0 20px;
    font-weight: normal;
    transition: all 0.2s ease;
}

nav a:hover {
    color: #fff;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #3f2b96;
    min-width: 160px;
    z-index: 1;
    flex-direction: column;
}

.dropdown-content a {
    color: #B6C3F7;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #fff;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

#logout {
    margin-left: 30px;
    padding: 5px 15px;
    border-radius: 15px;
    background: #F38180;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#logout:hover {
    background: #F67E7F;
}
